@import "../../utils/config";
@import "../../utils/mixins";

a.linkEffect {
  position: relative;
  display: block;
  outline: none;
  color: #fff;
  text-transform: uppercase;

  &:before {
    position: absolute;
    left: 0;
    bottom: -3px;
    content: '';
    width: 100%;
    height: 2px;
    background: #fff;

    transition: transform .5s ease;
    transform: scaleX(0);
  }

  &:hover:before, &.active:before {
    transform: scaleX(1);
  }
}