@import "../../utils/config";
@import "../../utils/mixins";

.imageWithLightbox {
  margin: 50px 0;

  .imageContainer {
    max-width: 500px;
    margin: 0 auto;

    & > img {
      cursor: pointer;
    }
  }
}