@import "../../utils/config";
@import "../../utils/mixins";

.headBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .amountLabel {
    margin: 0;
  }

  .searchField {
    border: none;
    outline: 0;
  }
}

.projectListContainer {
  display: flex;
  flex-wrap: wrap;
}