@import "../../utils/config";
@import "../../utils/mixins";

.siteNav {
  ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;

    li {
      margin: 0 10px;
      display: flex;
      align-items: center;

      &:last-child {
        margin-right: 0;
      }

      .linkIcon {
        display: none;
      }

      .linkLabel {
        display: block;
      }
    }
  }
}

@media (max-width: 576px) {
  .siteNav {
    ul {
      li {
        margin: 0 15px;

        .linkIcon {
          display: block;
        }
        .linkLabel {
          display: none;
        }
      }
    }
  }
}