.siteHeader {
    background: #227cc0;
    height: 60px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;

    .headerWrapper {
        height: 100%;
        display: flex;
        align-items: center;
        margin: 0 auto;
        max-width: 1010px;
        padding: 0 1rem;

        a {
            color: #fff;
        }
    }
}