@import "../../utils/config";
@import "../../utils/mixins";

.contactLinksContainer {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  margin: 0;

  li {
    margin: 0 10px;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}