/* https://color.adobe.com/de/Flat-UI-color-theme-2469224/ */
$background-color: #fbfbfb;
$background-color-code: #2C3E50;
$secondary-color: #fff;
$primary-color: #3498DB;
$accent-color: #E74C3C;

$content-max-width: 1010px;

/* MEDIA QUERY - BREAKPOINTS */
$sm-max-width: 576px;
$md-max-width: 768px;
$lg-max-width: 992px;
$xl-max-width: 1200px;