@import "../../utils/config";
@import "../../utils/mixins";

.milestones {
  position: relative;
  width: 100%;
  margin: 20px auto 0;
  padding: 20px 0;
  font-size: 14px;

  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 2px;
    margin-left: -1px;
    height: 100%;
    background: linear-gradient(to bottom, #fff 0%, #282828 10%, #282828 90%, #fff);
  }

  li {
    list-style-type: none;
    padding: 60px 0;

    p {
      margin: 0;
    }

    .direction-l {
      position: relative;
      width: 50%;
      float: left;
      padding-right: 20px;
      text-align: right;
    }

    .direction-r {
      position: relative;
      width: 50%;
      float: right;
      padding-left: 20px;

      &:before {
        left: -6px;
      }
    }

    .direction-l, .direction-r {
      overflow-wrap: break-word;
      word-wrap: break-word;
      -ms-word-break: break-all;
      word-break: break-word;
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;

      &:before {
        position: absolute;
        top: 6px;
        right: -6px;
        content: ' ';
        display: block;
        width: 12px;
        height: 12px;
        background: $secondary-color;
        border-radius: 10px;
        border: 2px solid $accent-color;
        z-index: 10;
        transition: transform .1s linear;
      }

      &:hover {
        &:before {
          transform: scale(1.2);
          background: $accent-color;
        }
      }
    }
  }
}