@import "../../utils/config";
@import "../../utils/mixins";

.sliderElements,
.sliderElements figure,
.sliderControls {
  margin: 0;
  padding: 0;
}

.cssSlider {
  width: 500px;
  max-width: 100%;
  margin: 50px auto;

  .navArea {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 40px;
    z-index: 1;
    cursor: pointer;

    &.disabled {
      display: none;
    }

    span {
      transition: all .1s ease-in-out;
    }

    &.left {
      left: 0;

      span {
        left: 0;
      }
    }

    &.right {
      right: 0;

      span {
        right: 0;
      }
    }

    &:hover {
      &.left {
        background: linear-gradient(to right, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
      }

      &.right {
        background: linear-gradient(to left, rgba(255,255,255,0.5) 0%,rgba(255,255,255,0) 100%);
      }

      &.left span, &.right span {
        transform: scale(1.2);
      }
    }
  }

  .stageContainer {
    overflow-x: hidden;
    position: relative;
  }
}

ul.sliderElements {
  display: flex;
  align-items: center;
  list-style: none;
  position: relative;
  left: 0;
  transition: left .5s ease-in-out;

  &:after {
    content: ".";
    display: block;
    height: .1px;
    clear: both;
    visibility: hidden;
    font-size: 0;
    overflow: hidden;
  }

  & > li {
    float: left;
    text-align: center;
    margin-bottom: 0;
  }

  .caption {
    display: block;
    color: $secondary-color;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 5px;
    background: rgba(0, 0, 0, .5);
  }
}

.cssSlider input {
  position: absolute;
  left: -99999px;
}

.sliderControls {
  text-align: center;

  li {
    display: inline-block;
    margin: 0 5px;
  }

  label {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    background: #ccc;

    &:hover, &.active {
      background: #aaa;
    }

    &.active {
      cursor: default;
    }
  }
}