@import "../../utils/config";
@import "../../utils/mixins";

.imageGallery {
  margin: 50px 0;
  .grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .gridItemWrapper {
      position: relative;
      overflow: hidden;
      flex: 0 0 calc(16.6666% - #{$image-gallery-grid-margin});
      margin: $image-gallery-grid-margin / 2;
      border: 1px #ccc solid;

      /* for squared images */
      &:before {
        content: "";
        display: block;
        padding-top: 100%;
      }

      .gridItem {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;

        background-color: #ddd;
        background-position: 50%;
        background-size: cover;
        background-repeat: no-repeat;

        &:hover {
          & ~ .caption {
            height: 50px;
            opacity: .8;
          }
        }

        transition: all 0.5s;
      }

      .backgroundImageContainer {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        width: 100%;
        height: 100%;
        z-index: 90;
      }
    }
  }

  @include breakpoint-xl-or-less {
    .grid .gridItemWrapper {
      flex: 0 0 calc(20% - #{$image-gallery-grid-margin});
    }
  }

  @include breakpoint-lg-or-less {
    .grid .gridItemWrapper {
      flex: 0 0 calc(33.3333% - #{$image-gallery-grid-margin});
    }
  }

  @include breakpoint-md-or-less {
    .grid .gridItemWrapper {
      flex: 0 0 calc(50% - #{$image-gallery-grid-margin});
    }
  }

  @include breakpoint-sm-or-less {
    .grid .gridItemWrapper {
      flex: 0 0 calc(100% - #{$image-gallery-grid-margin});
    }
  }
}