@import "../../utils/config";
@import "../../utils/mixins";

.siteFooter {
    background: $accent-color;
    color: $secondary-color;
    width: 100%;

    .footerWrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        max-width: $content-max-width;
        padding: 0 1rem;
        font-size: 14px;

        .column {
            display: flex;
            height: 40px;

            * {
                align-self: center;
            }

            a {
                color: $secondary-color;
                background-image: none;
            }
        }

        .contactLinksContainer {
            list-style-type: none;
            display: flex;
            justify-content: space-evenly;
            margin: 0;

            li {
                margin: 0 10px;
            }
        }
    }
}

@media (max-width: 576px) {
    .siteFooter {
        .footerWrapper {
            flex-direction: column-reverse;
        }
    }
}