@import "../../utils/config";
@import "../../utils/mixins";

.siteFooter {
  background: $primary-color;
  color: $secondary-color;
  width: 100%;

  .footerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: $content-max-width;
    padding: 0 1rem;
    font-size: 14px;

    .column {
      display: flex;
      height: $footer-height;

      * {
        align-self: center;
      }
    }

    .contactLinksContainer {
      list-style-type: none;
      display: flex;
      justify-content: space-evenly;
      margin: 0;

      li {
        margin: 0 10px;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}

@include breakpoint-sm-or-less {
  .siteFooter {
    .footerWrapper {
      flex-direction: column-reverse;
    }
  }
}