@import "../utils/config";

.contentContainer {
  margin: $header-image-height auto 0 auto;
  max-width: $content-max-width;
  min-height: calc(100vh - #{$header-image-height} - #{$footer-height});
  padding: 1rem;
  background-color: $background-color;
}

/* GLOBAL STYLES */
body {
  background-color: $background-color;
}

img {
  margin-bottom: 0;
}

video {
  max-width: 100%;
}