@import "../utils/config";

.contentContainer {
  margin: 0 auto;
  max-width: $content-max-width;
  padding: 60px 1rem;
}

/* GLOBAL STYLES */
body {
  background-color: $background-color;
}

img {
  margin-bottom: 0;
}

video {
  max-width: 100%;
}