@import "../../utils/config";
@import "../../utils/mixins";

.characteristicsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    .item {
        padding: 5px
    }
}

@media (max-width: 576px) {
    .characteristicsContainer {
        flex-direction: column;
    }
}