@import "../../utils/config";
@import "../../utils/mixins";

.characteristicsContainer {
  @include card;
  text-align: center;
  max-width: 500px;
  margin: 0 auto;

  a {
    color: $primary-color;
    &:before {
      background: $primary-color;
    }
  }

  h3 {
    margin-top: 0;
  }

  .profileImage {
    border-radius: 50%;
  }

  .factsContainer {
    margin: 20px 0;
    list-style-type: none;

    .fact {
      white-space: nowrap;
      display: inline-block;
      margin: 0 5px;

      &:before {
        content: " · ";
      }

      &:first-child:before {
        content: ""
      }
    }
  }
}